@charset "UTF-8";
/*----------------------------- General -----------------------------*/
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
:root {
  --fontsize: 16px;
  --light-green-color: #60B450;
  --regular-green-color: #228c6e;
  --blue-green-color: #256C74;
  --dark-green-color: #042326;
  --grey-color: #1C1C1C;
  --vh: 1px;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto";
  box-sizing: border-box;
  height: 100%;
}

body {
  width: 100vw;
  max-width: 1880px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.pdf {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(110vw);
  z-index: 999;
  width: 90vw;
  height: 100vh;
  transition: transform 150ms linear;
}

.pdf .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 10vw;
  height: 100%;
  left: -10vw;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

.pdf .close:hover {
  color: var(--light-green-color);
}

input#showPDF {
  display: none;
}

input#showPDF:checked + .pdf {
  transform: translateX(0);
}

.pdf embed {
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------ */
/*------------------------ Header ------------------------*/
/* ------------------------------------------------------ */
header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(2px);
  width: 100vw;
}

.headerContainer {
  width: 100%;
  height: 8vh;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90vw;
}
.menu .desktopList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.menu li {
  font-size: calc(var(--fontsize) * 1.25);
  padding: 5px;
}
.menu li a {
  color: white;
}
.menu li a:hover {
  color: var(--light-green-color);
}

.logo img {
  width: 30px;
}
.logo :hover {
  filter: drop-shadow(2px 2px 4px var(--light-green-color));
}

.mobileMenu {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
  background: var(--grey-color);
}
.mobileMenu .mobileList {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  top: 7vh;
  margin: 0;
  padding-left: 0;
  width: 100vw;
  max-width: 800px;
  background: var(--grey-color);
  transform: translate(130%, -130%);
  transition: transform 150ms linear;
  opacity: 0;
  z-index: 98;
}
.mobileMenu .mobileList li {
  margin: 1rem;
  height: 2rem;
  padding: 5px;
}
.mobileMenu .mobileList li a {
  color: white;
  width: 100px;
  font-size: calc(var(--fontsize) * 1.25);
}
.mobileMenu input[type=checkbox] {
  display: none;
}
.mobileMenu .burgerLines {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  right: 2rem;
  width: 30px;
  z-index: 999;
  cursor: pointer;
}
.mobileMenu .burgerLines .line {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  background: white;
}
.mobileMenu .burgerLines .line1 {
  transform-origin: 0% 0%;
  transition: transform 150ms linear;
  transform: rotate(0deg);
}
.mobileMenu .burgerLines .line2 {
  transition: transform 0.4sec ease-in-out;
}
.mobileMenu .burgerLines .line3 {
  transform-origin: 0% 0%;
  transition: transform 150ms linear;
  transform: rotate(0deg);
}
.mobileMenu .logo {
  position: absolute;
  z-index: 99;
}

.burgerLines:hover {
  transform: scale(1.1);
}

#burgerCheck[type=checkbox]:checked ~ .mobileList {
  transform: translate(0, 0);
  transition: transform 150ms linear;
  opacity: 1;
}

#burgerCheck[type=checkbox]:checked ~ .burgerLines {
  height: 23px;
}
#burgerCheck[type=checkbox]:checked ~ .burgerLines .line1 {
  transition: transform 150ms linear;
  transform: rotate(45deg);
  margin-left: 2px;
}

#burgerCheck[type=checkbox]:checked ~ .burgerLines .line2 {
  transform: scale(0);
  transition: transform 150ms linear;
}

#burgerCheck[type=checkbox]:checked ~ .burgerLines .line3 {
  transition: transform 150ms linear;
  transform: rotate(-45deg);
}

.menu .active {
  border: 2px solid var(--light-green-color);
  box-shadow: 0 0 8px var(--light-green-color);
  border-radius: 10px;
}
.menu .active a {
  color: var(--light-green-color);
}

/* ------------------------------------------------- */
/*-------------------- Home Page --------------------*/
/* ------------------------------------------------- */
.homePage {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-green-color);
  overflow: hidden;
}

.homeContainer {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  width: 90%;
  margin: auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#mainTitle {
  position: relative;
  width: 250px;
}

#mainTitle::before,
#mainTitle::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid var(--light-green-color);
  content: " ";
}

#mainTitle::before {
  top: -25%;
  left: 0;
  border-width: 4px 0 0 4px;
}

#mainTitle::after {
  bottom: -25%;
  right: 0;
  border-width: 0 4px 4px 0;
}

#mainTitle {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.imgMain {
  width: clamp(45%, 500px, 65vw);
  height: auto;
  padding-top: 20vh;
}

.mainLogo {
  position: absolute;
  top: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  width: 250px;
}
.mainLogo :hover {
  filter: drop-shadow(1px 1px 2px var(--light-green-color));
}
.mainLogo a {
  margin: 5px;
}

#githubLogo {
  width: 35px;
  color: white;
}

#linkedinLogo {
  width: 40px;
}

[data-animate] .cursor {
  color: var(--light-green-color);
  padding: 0 0.25rem 0 0.25rem;
  animation-name: animateCursor;
  animation-duration: 200ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes animateCursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mouseContainer {
  height: 8vh;
}

.mouse {
  position: sticky;
  left: calc(50% - 15px);
  bottom: 0;
  width: 30px;
  animation-name: MoveUpDown;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#imgHand {
  display: none;
}

@keyframes MoveUpDown {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: translate(0, -15%);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* -------------------------------------------- */
/*------------------ About me ------------------*/
/* -------------------------------------------- */
.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--regular-green-color);
  background: radial-gradient(circle, var(--regular-green-color) 0%, #042326 100%, var(--regular-green-color) 100%);
}

.darkContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-green-color);
  width: 60rem;
  height: 40rem;
  margin-top: 8vh;
}
.darkContainer .imgBorder {
  position: absolute;
  top: -4px;
  left: 50%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}
.darkContainer .imgBorder::before, .darkContainer .imgBorder::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  background: linear-gradient(to left, var(--light-green-color), var(--regular-green-color), var(--light-green-color), var(--blue-green-color));
  background-size: 400%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: glow 5s infinite alternate;
}
.darkContainer .imgBorder::after {
  filter: blur(20px);
}
.darkContainer .imgProfil {
  position: absolute;
  top: -83px;
  width: 160px;
  border-radius: 50%;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.greenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(210deg, var(--regular-green-color) 0%, #619a87 100%, white 100%);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  backdrop-filter: blur(10px);
  width: 40rem;
  height: 22rem;
  border-radius: 30px;
  position: relative;
  z-index: 99;
}

.aboutMeP {
  position: absolute;
  width: 60%;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 0rem 5rem;
  opacity: 1;
  z-index: 100;
}

#greenQuote1, #greenQuote2 {
  position: absolute;
  font-size: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light-green-color);
  z-index: 98;
}

#greenQuote1 {
  left: 107px;
  top: -15px;
}

#greenQuote2 {
  right: 107px;
  bottom: 25px;
  transform: scale(-1, 1);
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 500;
  position: absolute;
  bottom: -20px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: var(--light-green-color);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.548), 2px 4px 6px rgba(0, 0, 0, 0.137);
}

.downloadButton:hover {
  background: var(--regular-green-color);
  cursor: pointer;
  box-shadow: inset 2px 2px 2px black;
}

/* ---------------------------------------------- */
/*-------------------- Skills --------------------*/
/* ---------------------------------------------- */
.skills {
  background: linear-gradient(0deg, #0e4143 0%, #042326 25%, #042326 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills img {
  max-width: 60%;
  height: auto;
}

.mobileSkills {
  display: none;
}

/* --------------------------------------------------- */
/*--------------------- Portfolio ---------------------*/
/* --------------------------------------------------- */
.portfolio {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, var(--regular-green-color) 0%, #042326 100%, var(--regular-green-color) 100%);
}

.darkPortfolio {
  position: absolute;
  margin: 0;
  height: 40rem;
}

#pagination_prev_next {
  position: absolute;
  height: 40rem;
  margin: 0;
  top: 65vh;
  width: 60rem;
  height: 10rem;
}

.itemBody {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(210deg, var(--regular-green-color) 0%, #619a87 100%, white 100%);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  width: 30rem;
  height: 12rem;
  border-radius: 30px;
  padding: 5rem;
}

.itemBody input[type=checkbox] {
  display: none;
}

.itemBody input[type=checkbox]:checked ~ .itemDetails {
  display: flex;
  transform: scale(1);
  transition: transform 150ms linear;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.itemImg {
  position: absolute;
  top: -90px;
  left: 245px;
  width: 350px;
}
.itemImg img {
  width: 100%;
}

.itemSeeMore {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  background-color: #60B450;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemImg:hover .itemSeeMore {
  opacity: 1;
}

.itemImg:hover img {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.itemDivTitle {
  position: absolute;
  width: 45%;
  inset: 115px 50px;
}
.itemDivTitle .itemTitle {
  font-size: 1.8rem;
  color: white;
}

.itemDescription {
  position: absolute;
  inset: 220px 50px;
}
.itemDescription .itemP {
  font-size: 1rem;
  color: white;
}

.itemDetails {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  width: 60rem;
  height: 83vh;
  background-color: rgba(22, 22, 22, 0.705);
  transform: scale(0.1);
  transition: transform 150ms linear;
}
.itemDetails a {
  position: absolute;
  bottom: 8px;
  height: 25px;
  width: 150px;
  border-radius: 10px;
  color: white;
  background-color: var(--blue-green-color);
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.548), 2px 4px 6px rgba(0, 0, 0, 0.137);
}
.itemDetails a:hover {
  background-color: #228c6e;
  box-shadow: inset 2px 2px 2px black;
}

.x-mark {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.x-mark :hover {
  transform: scale(1.1);
}
.x-mark img {
  width: 20px;
  height: 20px;
  color: grey;
}

.xmarkLabel {
  cursor: pointer;
}

.itemDetailsContainer {
  display: flex;
  justify-content: space-around;
  width: 60rem;
}

.portfolioDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25rem;
  height: 72vh;
  background-color: var(--blue-green-color);
  border-radius: 20px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.portfolioDetailsContainer .portfolioDetailsImg {
  margin: 0;
  height: 45%;
}
.portfolioDetailsContainer .portfolioDetailsImg img {
  width: 250px;
}
.portfolioDetailsContainer .portfolioDetailsTitle {
  height: 10%;
  color: white;
}
.portfolioDetailsContainer .portfolioDetailsText {
  height: 30%;
  width: 80%;
  color: white;
  text-align: left;
}
.portfolioDetailsContainer .portfolioDetailsText p {
  text-align: center;
}
.portfolioDetailsContainer .portfolioDetailsText ul li::before {
  content: "•";
  color: var(--light-green-color);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
}

/* ---------------------------------- */
/*------------- Carousel -------------*/
/* ---------------------------------- */
.carousel {
  position: relative;
  width: 60rem;
  height: 100vh;
  overflow: hidden;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100vh;
}

.carousel__container {
  transition: transform 0.3s;
  height: 100vh;
}

.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel__next, .carousel__prev {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 100px;
  height: 100px;
  background: url("../assets/imgs/angle-right-solid.png") center center no-repeat;
  background-size: 50px 80px;
  border-radius: 50%;
  margin-top: -20px;
  cursor: pointer;
}

.carousel__prev {
  background-image: url("../assets/imgs/angle-left-solid.png");
  left: 2rem;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev-hidden, .carousel__next-hidden {
  opacity: 0;
}

.carousel__pagination {
  position: absolute;
  bottom: 165px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.carousel__pagination--button {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel__pagination--button--active {
  transform: scale(1.4);
  background-color: var(--light-green-color);
}

.carousel__pagination--button:hover {
  transform: scale(1.2);
}

/* ------------------------------------------------- */
/*--------------------- Contact ---------------------*/
/* ------------------------------------------------- */
.contact {
  background: linear-gradient(0deg, #0e4143 0%, #042326 25%, #042326 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .formContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 40rem;
  height: 30vh;
  min-height: 300px;
  background: radial-gradient(circle, var(--regular-green-color) 0%, #619a87 100%, var(--regular-green-color) 100%);
  border-radius: 0;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}
.contact .nameContainer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.contact input[type=text], .contact input[type=email] {
  font-family: "Roboto";
  color: white;
  height: 2rem;
  background: transparent;
  border: none;
  border-bottom: solid 2px var(--light-green-color);
  margin-bottom: 50px;
}
.contact input::placeholder, .contact textarea::placeholder {
  color: white;
}
.contact textarea {
  background: transparent;
  border: 2px solid var(--light-green-color);
  width: 100%;
  height: 100%;
}
.contact textarea:focus, .contact input:focus {
  border: 2px solid var(--light-green-color);
  border-radius: 5px;
  box-shadow: 0 0 8px var(--light-green-color);
  outline: none;
}

.contactTitle {
  text-align: center;
  margin-bottom: 6rem;
  top: 7vh;
  color: white;
}

.credits {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  background: var(--grey-color);
  color: white;
}

.creditsName {
  color: var(--light-green-color);
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 500;
  background: var(--light-green-color);
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.548), 2px 4px 6px rgba(0, 0, 0, 0.137);
  border: none;
  width: 100px;
  height: 35px;
  margin-top: 2rem;
}

.sendButton:hover {
  background: var(--regular-green-color);
  cursor: pointer;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------------- */
/*-------------------- Responsive --------------------*/
/* -------------------------------------------------- */
@media screen and (max-width: 900px) {
  /*-------------- About Me --------------*/
  .darkContainer {
    width: 100vw;
  }
  .darkContainer .imgBorder {
    width: 140px;
    height: 140px;
    top: -18px;
  }
  .darkContainer .imgProfil {
    width: 130px;
  }

  .greenContainer {
    width: 80vw;
    height: 40vh;
  }

  #greenQuote1, #greenQuote2 {
    font-size: 10rem;
  }

  #greenQuote1 {
    top: 40px;
    left: 55px;
  }

  #greenQuote2 {
    bottom: 66px;
    right: 55px;
  }

  .downloadButton {
    margin-bottom: 40px;
    width: 10rem;
    height: 3rem;
    font-size: 0.8rem;
  }

  /*-------------- Portfolio --------------*/
  .itemBody {
    width: 60vw;
  }

  .darkPortfolio {
    width: 100vw;
  }

  .itemDetails {
    width: 95vw;
    height: 85vh;
  }

  .itemDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .portfolioDetailsContainer {
    width: 90vw;
    height: 35vh;
    align-items: flex-end;
  }

  .itemImg {
    width: 250px;
    height: auto;
    left: 45%;
  }

  .carousel {
    width: 100vw;
  }

  .carousel__next {
    right: 0;
  }

  .carousel__prev {
    left: 0;
  }

  /*---------------------- Contact ----------------------*/
  .contact .formContainer {
    width: 80vw;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .menu .desktopList {
    width: 60%;
  }

  .portfolioDetailsContainer .portfolioDetailsImg {
    position: absolute;
    height: auto;
    left: 30px;
  }
  .portfolioDetailsContainer .portfolioDetailsText, .portfolioDetailsContainer .portfolioDetailsTitle {
    width: 50%;
    height: auto;
    margin-right: 50px;
  }
  .portfolioDetailsContainer .portfolioDetailsTitle {
    text-align: center;
  }
  .portfolioDetailsContainer .portfolioDetailsText p {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  /*------------ Header ------------*/
  .headerContainer {
    height: 60px;
    position: sticky;
  }

  .menu {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  /*----------- Home Page -----------*/
  .homeContainer {
    width: 100%;
  }

  .titleContainer {
    z-index: 99;
  }

  .imgMain {
    position: absolute;
    opacity: 0.3;
    width: clamp(45%, 500px, 90vw);
  }

  #imgMouse {
    display: none;
  }

  #imgHand {
    display: block;
  }

  /*-------------- About Me --------------*/
  .aboutMe {
    padding-top: 50px;
  }

  .greenContainer .aboutMeP {
    font-size: 0.9rem;
  }

  /*---------------- Skills ----------------*/
  .desktopSkills {
    display: none;
  }

  .mobileSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
  }
  .mobileSkills img {
    max-width: 50%;
  }

  /*--------------- Portfolio ---------------*/
  .portfolio {
    padding-top: 30px;
  }

  .carousel__prev, .carousel__next {
    width: 80px;
    height: 80px;
  }

  .portfolioDetailsContainer {
    align-items: center;
  }
  .portfolioDetailsContainer .portfolioDetailsImg img {
    width: 150px;
  }
  .portfolioDetailsContainer .portfolioDetailsText {
    height: 38%;
  }

  /*--------------------- Contact ---------------------*/
  .contact input[type=text], .contact input[type=email] {
    width: 40%;
  }

  .sendButton {
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  section {
    max-height: 740px;
    max-width: 500px;
  }

  .greenContainer {
    width: 95vw;
  }

  .aboutMeP {
    width: 90%;
  }

  #greenQuote1 {
    left: 0;
  }

  #greenQuote2 {
    right: 0;
  }

  .itemBody {
    height: 60vh;
    width: 80vw;
    padding: 0;
  }

  .itemImg, .itemDivTitle, .itemDescription {
    position: relative;
    max-width: 80%;
    width: auto;
    left: auto;
    inset: auto;
  }

  .itemImg {
    max-width: 250px;
  }

  .itemDescription p {
    text-align: center;
  }

  #pagination_prev_next {
    top: 86vh;
  }

  .carousel__pagination {
    bottom: 8rem;
  }

  .carousel__prev, .carousel__next {
    width: 50px;
    height: 50px;
  }

  /* Contact */
  .nameContainer {
    flex-direction: column;
  }

  .contact input[type=text], .contact input[type=email] {
    width: 100%;
  }
  .contact textarea {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
