:root {
    --fontsize: 16px;
    --light-green-color: #60B450;
    --regular-green-color: #228c6e;
    --dark-green-color: #042326;
}

html {
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
}

body {
    width: 100vw;
    max-width: 1880px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;

}
 section {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
 }
/*------------------------ Header ------------------------*/

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.015);
    backdrop-filter: blur(2px);
    height: 8vh;
    width: 100vw;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 8vh;
    margin: auto;
}

.menu {
    display: flex;
    li {
        margin-right: 100px;
        font-size: calc(var(--fontsize) * 1.25);
        a {
            color: white;
        }
        a:hover {
            color: var(--light-green-color);
        }
    }
    
}

.logo {
    img {
        width: 30px;
    }
    :hover {
        filter: drop-shadow(2px 2px 4px var(--light-green-color));
    }
}

.mobileMenu {
    display: none;
}

.burgerButton {
    display: none;
}

/*-------------------- Home Page --------------------*/

.homePage {
    display: flex;
    flex-direction: column;
    background-color: #042326;
    overflow: hidden;
}

.homeContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 90vw;
    margin: auto;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#mainTitle {
    position: relative;
    width: 250px;
}

#mainTitle::before,
#mainTitle::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid var(--light-green-color);
    content: ' ';
}

#mainTitle::before {
    top: -25%;
    left: 0;
    border-width: 4px 0 0 4px;
}

#mainTitle::after {
    bottom: -25%;
    right: 0;
    border-width: 0 4px 4px 0
}

#mainTitle {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.imgMain {
    width: clamp(44%, 500px, 65vw);
    height: auto;
    padding-top: 20vh;
}

.mainLogo {
    position: absolute;
    top: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
    width: 250px;
    :hover {
        filter: drop-shadow(1px 1px 2px var(--light-green-color));
    }
    a {
        margin: 5px;
    }
}

#githubLogo {
    width: 35px;
}

#linkedinLogo {
    width: 40px;
}

[data-animate] .cursor {
    color: var(--light-green-color);
    padding: 0 .25rem 0 .25rem;
    animation-name: animateCursor;
    animation-duration: 200ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes animateCursor {
    from { opacity: 0; }
    to { opacity: 1; }
}

.sourisContainer {
    height: 8vh;
}

.souris {
    position:sticky;
    left: calc(50% - 15px);
    bottom: 0;
    width: 30px;
    animation-name: MoveUpDown;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes MoveUpDown {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: translate(0, -15%);
    }
    100% {
        transform: scale(1,1);
    }
}
    
/*------------------ About me ------------------*/

.aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--regular-green-color);
    background: radial-gradient(circle, var(--regular-green-color) 0%, rgba(4,35,38,1) 100%, var(--regular-green-color) 100%);
}

.darkContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #042326;
    width: 60rem;
    height: 40rem;
    margin-top: 8vh;
    .imgBorder {
        position: absolute;
        top: -3px;
        left: 50%;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: linear-gradient(to left, var(--light-green-color), #ffffff);
        animation: spin 4s linear infinite;
    }
    .imgProfil {
        position: absolute;
        top: -83px;
        width: 10rem;
        border-radius: 50%;
    }
    
}

@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
      
    }
   
  }
.greenContainer {
    display: flex;
    align-items: center;
    background: linear-gradient(210deg, var(--regular-green-color) 0%, rgba(97,154,135,1) 100%, rgba(255,255,255,1) 100%);
    width: 45rem;
    height: 25rem;
    border-radius: 30px;
    .aboutMeP {
        position: relative;
        font-family: 'Roboto';
        font-size: 1.2rem;
        color: white;
        text-align: center;
        padding: 4rem 5rem;
    }
    a {
        color: var(--dark-green-color);
    }
}

#greenQuote1, #greenQuote2 {
    position: absolute;
    font-size: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-green-color);
}

#greenQuote1 {
    top: -11rem;
    left: 0;
}

#greenQuote2 {
    bottom: -8rem;
    right: 0;
    transform: scale(-1, 1);
}

.downloadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto";
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    bottom: -1.7rem;
    width: 15rem;
    height: 3.5rem;
    border-radius: 15px;
    border: none;
    background: var(--regular-green-color);
    background: radial-gradient(circle, var(--regular-green-color) 0%, rgba(97,154,135,1) 100%, var(--regular-green-color) 100%);
    box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.548), 2px 4px 6px rgba(0, 0, 0, 0.137);
}
.downloadButton:hover {
    background: rgb(37,108,116);
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(black, 0.5);
}

/*-------------------- Skills --------------------*/

.skills {
    background: linear-gradient(0deg, rgba(14,65,67,1) 0%, rgba(4,35,38,1) 25%, rgba(4,35,38,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------- Portfolio ---------------------*/

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, var(--regular-green-color) 0%, rgba(4,35,38,1) 100%, var(--regular-green-color) 100%);
}

.itemP {
    font-size: 1rem;
    color: white;
}

.itemTitle {
    color: white;
}

/*------------- Carousel -------------*/

.carousel {
    position: relative;
}

.carousel__item {
    display: flex;
    justify-content: center;
    float: left;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}


.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__next, .carousel__prev {
    position: absolute;
    top: 50%;
    right: 25%;
    width: 40px;
    height: 40px;
    background: #FFF url('../assets/imgs/right.svg') center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    margin-top: -20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    background-image: url('../assets/imgs/left.svg');
    right: auto;
    left: 25%;
}