:root {
    --fontsize: 16px;
    --green-color: #60B450;
}
@keyframes animateCursor {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  [data-animate] .cursor {
    color: var(--green-color);
    padding: 0 .25rem 0 .25rem;
    animation-name: animateCursor;
    animation-duration: 200ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  body {
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
  }
/*------------------------ Header ------------------------*/

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.015);
    backdrop-filter: blur(2px);
    height: 8vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 8vh;
    margin: auto;
}

.menu {
    display: flex;
    li {
        margin-right: 100px;
        font-size: calc(var(--fontsize) * 1.25);
        a {
            color: white;
        }
        a:hover {
            color: var(--green-color);
        }
    }
    
}

.logo {
    img {
        width: 30px;
    }
    :hover {
        filter: drop-shadow(2px 2px 4px #60B450);
}
}

.mobileMenu {
    display: none;
}

.burgerButton {
    display: none;
}

/*-------------------- About me --------------------*/
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #042326;
    height: 100vh;
    scroll-snap-type: y mandatory;
}
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    height: calc(100vh - 8vh);
    max-height: 100vh;
    padding-top: 8vh;
    margin: auto;
    overflow: hidden;
}
.container {
    display: flex;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
#mainTitle {
    position: relative;
    width: 250px;
}

#mainTitle::before,
#mainTitle::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid var(--green-color);
    content: ' ';
}

#mainTitle::before {
    top: -25%;
    left: 0;
    border-width: 4px 0 0 4px;
}

#mainTitle::after {
    bottom: -25%;
    right: 0;
    border-width: 0 4px 4px 0
}

#mainTitle {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.imgMain {
    width: clamp(45%, 500px, 65vw);
    height: auto;
}
.mainLogo {
    position: absolute;
    top: 58%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
    width: 250px;
    :hover {
        filter: drop-shadow(1px 1px 2px #60B450);
    }
    a {
        margin: 5px;
    }
}
#githubLogo {
    width: 35px;
}

#linkedinLogo {
    width: 40px;
}

.souris {
    position: absolute;
    left: calc(50% - 15px);
    bottom: 0;
    width: 30px;
    animation-name: MoveUpDown;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes MoveUpDown {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: translate(0, -15%);
    }
    100% {
        transform: scale(1,1);
    }
  }